body {
  font-family: sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input[type='checkbox'] {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.btn {
  display: block;
  border: 2px solid #000;
  border-radius: 0;
  padding: 15px 30px;
  font-size: 18px;
  background: #CFE2F3;
  margin: 50px auto;
  cursor: pointer;
}